{{ define "main" }}
<div>
  <h1 class="post_title">
    {{ .Type | humanize }}
  </h1>
  {{ range .Pages }}
    <div class="posts_container">
      <a href="{{ .URL | relURL }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </div>
  {{ end }}
</div>
{{ end }}
