{{ define "main" }}
<h1 class="post_title">{{ .Title | markdownify }}</h1>
<span class="post_date">
	{{ with .Date | default nil }}
		{{ .Format ($.Site.Params.DateFormatSingle | default "January 2, 2006") }}
	{{ end }}
	{{- partial "tags.html" . -}}
</span>
<div class="post_content">
{{ .Content }}
</div>
{{- partial "pagination.html" . -}}
{{ end }}
