<footer class="footer">
  <div class="footer__inner">
      <div class="copyright">
		<span class="copyleft">&copy</span>
        <span>{{ now.Year }} Powered by <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a></span>
        <span>Theme created by <a href="https://www.gitlab.com/chrisbohn8" target="_blank" rel="noopener">ctb</a></span>
      </div>
  </div>
</footer>
