<head>
  <title>{{ $.Site.Params.Title }}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
  {{ if .Site.Params.googlefonts }}
	<link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="all" /> 
 {{ end }}

</head>
