<!-- <header class="nav-bar"> -->
<!-- 	<span class="nav-bar__inner"> -->
<!-- 		{{ $currentPage := . }} -->
<!-- 		{{ range .Site.Menus.main }} -->
<!-- 			<a class="nav-link" id="{{ .Name }}-link" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a> -->
<!-- 		{{ end }} -->
<!-- 	</span> -->
<!-- </header> -->

<!-- [NAVIGATION BAR] -->
<nav id="page-nav">
  <!-- [THE HAMBURGER] -->
  <label for="hamburger">&#9776;</label>
  <input type="checkbox" id="hamburger"/>

  <!-- [MENU ITEMS] -->
  <ul>
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		<li id="{{ .Name }}_link"><a href="{{ .URL }}">{{ .Name }}</a></li>
		{{ end }}
  </ul>
</nav>
