    {{ if or .NextInSection .PrevInSection }}
      <div>
		<div class="hr_container">
        	<div class="hr-sect">
          <span>{{ $.Site.Params.ReadOtherPosts | default "Read other posts" }}</span>
		  	</div>
        </div>
        <div class="button_container">
          {{ if .NextInSection }}
		  <button type="button" class="button">
              <a href="{{ .NextInSection.Permalink }}">
                <span>←</span>
                <span>{{ .NextInSection.Title }}</span>
              </a>
          </button>
          {{ end }}
          {{ if .PrevInSection }}
		  <button type="button" class="button">
              <a href="{{ .PrevInSection.Permalink }}">
                <span>{{ .PrevInSection.Title }}</span>
                <span>→</span>
              </a>
          </button>
          {{ end }}
        </div>
      </div>
    {{ end }}
