{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

{{ $PageContext := . }}
{{ if .IsHome }}
  {{ $PageContext = .Site }}
{{ end }}
{{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}
  <div>
    {{ range $paginator.Pages }}

    <div id="post_preview">
      <h1 class="post_title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div>
        <span class="post-date">
          {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
        </span>
      </div>


      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

	  {{ if .Params.Cover }}
	  <a href="{{ .Permalink }}"><img src="{{ .Params.Cover | absURL }}" class="post_cover" /></a>
      {{ end }}


      <div class="post-content">
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary | markdownify }}
          {{ end }}
        {{ end }}
      </div>
      <div><a href="{{.RelPermalink}}">Read More →</a></div>
    <hr class="post_divider" />
    </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
