body {
	background-color: #282a36;
	color: #f8f8f2;
	margin: 0px;
	font-family: "Merriweather", serif;
}

a {
	color: #ff5555;
	text-decoration: none;
}

a:hover {
	color: #8be9fd;
}

ul {
	list-style: none;
}

#page-nav {
  width: 100%;
  background: #44475a;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  top: 0;
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  width: 75%;
  display: flex;
}

#page-nav ul li {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0 1em;
}

#page-nav ul li a {
  color: #f8f8f2;
  text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  #page-nav {
	  display: block;
	  height: auto;
  }

  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: #f8f8f2;
	background: #ff5555;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #page-nav label:hover {
	  background: #8be9fd;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
    font-size: 1.3rem;
    margin: 0 1em;
  }
  #page-nav ul li {
    border-top: 1px solid #333;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }
}

/* .nav-bar { */
/* 	background-color: #44475a; */
/* 	width: 100%; */
/* 	position: fixed; */
/* 	overflow: hidden; */
/* 	top: 0; */
/* 	height: 4rem; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* } */

/* .nav-bar__inner { */
/* 	display: flex; */
/* 	justify-content: right; */
/* } */

/* .nav-link { */
/* 	font-size: 1.5rem; */
/* 	margin: 0 1em; */
/* } */

#Home_link {
	margin-right: auto;
}

#content {
	margin-top: 6rem;
}

#site_title {
	font-size: 3rem;
	text-align: center;
}

#site_subtitle {
	font-size: 2rem;
	font-weight: 550;
	text-align: center;
}

#post_preview {
	margin: 0 3%;
}

.post_title {
	font-weight: 500;
	margin-bottom: .2rem;
	text-align: center;
}

.post_cover {
	display: block;
	margin: 1em auto;
	max-width: 85%;
	max-height: 100%;
	border-radius: 3%;
}

.post_date {
	display: block;
	text-align: center;
}

.post_description {
	margin-top: .4rem;
	font-weight: normal;
	text-align: center;
}

.post_content {
	text-align: left;
	margin: 0 3%;
}

.posts_container {
	display: flex;
	justify-content: space-between;
	margin: 10px 18%;
}

/* .post_divider { */
/* 	margin: 1rem -5rem; */
/* } */

.hr_container {
	margin: 1rem 8%;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #f8f8f2;
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #f8f8f2;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.button_container {
	display: flex;
	justify-content: center;
}

.button {
	margin: 1em;
	padding: 1em;
	border: none;
	background-color: #44475a;
	border-radius: 8px;
}

.footer {
	text-align: center;
	margin-bottom: 1rem;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

pre {
	background-color: #44475a;
	padding: 1em;
	font-family: "Fira Code";
	overflow-x: scroll;
}

@media screen and (min-width: 800px) {
	.nav-bar__inner {
		width: 80%
	}

	#post_preview {
		margin: 0 18%;
	}
	
	.post_content {
		margin: 0 18%;
	}

	.post_divider {
		margin: 1rem -5rem;
	}

}
