{{ define "main" }}
<div>
  <h1 class="post_title">
  {{ if eq .Kind "taxonomyTerm" }}
    {{ .Name }}
  {{ else }}
  	#{{ .Name }}
  {{ end }}
  </h1>

  {{ if eq .Kind "taxonomyTerm" }}
    {{ range $.Site.Taxonomies.tags.ByCount }}
      <div class="posts_container">
        <div>
          <a href="/tags{{ .Name | relURL }}">#{{ .Name | markdownify }}</a>
        </div>
        <div>
           {{ .Count }} Articles
        </div>
      </div>
    {{ end }}
  {{ else }}
    {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
    {{ $.Scratch.Set "lastYear" ""}}
    {{ range .Pages }}
      {{ $year := .Date.Year }}
      {{ $lastYear := $.Scratch.Get "lastYear"}}
      <div class="posts_container">
        <div>
          <a href="{{ .URL | relURL }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
		</div>
	    <div>
         <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>
      </div>
    {{ end }}
  {{ end }}

</div>
{{ end }}
