{{ define "main" }}
<div>
  <h1>
    {{ .Name | humanize }}
  </h1>

  {{ if eq .Kind "taxonomyTerm" }}
    {{ range $.Site.Taxonomies.tags.ByCount }}
      <div>
        <div>
           {{ .Count }} Posts
        </div>
        <div>
          <a href="{{ .Name | relURL }}/tags">{{ .Name | markdownify }}</a>
        </div>
      </div>
    {{ end }}
  {{ else }}
    {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
    {{ $.Scratch.Set "lastYear" ""}}
    {{ range .Pages }}
      {{ $year := .Date.Year }}
      {{ $lastYear := $.Scratch.Get "lastYear"}}
      <div>
        <div>
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>
        <div>
          {{ if ne $year $lastYear }}
            <p>{{ $year }}</p>
            {{ $.Scratch.Set "lastYear" $year }}
          {{ end }}
          <a href="{{ .URL | relURL }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
        </div>
      </div>
    {{ end }}
  {{ end }}

</div>
{{ end }}
